# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy.stats import trim_mean, mode, skew, gaussian_kde, pearsonr, spearmanr, beta
from statsmodels.stats.weightstats import ztest as ztest

from scipy.stats import ttest_ind, norm, t
from scipy.stats import f_oneway
from scipy.stats import sem

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [3]:
# Run this code:
salaries = pd.read_csv(r'/Users/turfdiddy/Desktop/Bootcamp_ds:ml/Week_4/Day_3/lab-hypothesis-testing-en/data/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [7]:
salaries

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
...,...,...,...,...,...,...,...,...
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33182,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,115932.0,NaN

In [4]:
# Your code here
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

In [6]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33183 non-null  object
 1   Job Titles         33183 non-null  object
 2   Department         33183 non-null  object
 3   Full or Part-Time  33183 non-null  object
 4   Salary or Hourly   33183 non-null  object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

In [ ]:
salaries.sample()

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

## Hypothesis

**H0: Hourly wage is 30$**

**H1: Hourly wage is significantly different from 30$**

In [8]:
salaries.sample(200)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
24975,"ROBERSON, DEBBIE L",PAYMENT SERVICES REPRESENTATIVE,FINANCE,F,Salary,NaN,70092.0,NaN
1484,"BANKS, PATRICIA M",CROSSING GUARD - PER CBA,OEMC,P,Hourly,20.0,NaN,18.22
17667,"MAGNO, MICHAEL S",SERGEANT,POLICE,F,Salary,NaN,104628.0,NaN
11771,"HANKIN, JAMES F",COORD OF SPECIAL PROJECTS,AVIATION,F,Salary,NaN,97740.0,NaN
1174,"AUSTIN, RANCE R",GENERAL LABORER - AVIATION,AVIATION,F,Hourly,40.0,NaN,19.61
...,...,...,...,...,...,...,...,...
26463,"SANTOS, MICHAEL J",SERGEANT,POLICE,F,Salary,NaN,107988.0,NaN
13248,"HUDDLESTON, JAMES E",AVIATION COMMUNICATIONS OPERATOR,OEMC,F,Salary,NaN,70644.0,NaN
21341,"NORTON, ERICK J",WARD SUPERINTENDENT,STREETS & SAN,F,Salary,NaN,88188.0,NaN
9061,"FLORES, EMMANUEL",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
16206,"LANDERS, MICHAEL",SR LABOR RELATIONS SPECIALIST,STREETS & SAN,F,Salary,NaN,62448.0,NaN

In [11]:
c1 = salaries[salaries['Salary or Hourly']== "Hourly"]['Hourly Rate'].sample(300)
c1

23972    10.00
28458     2.65
32860    35.60
23429    40.20
28941    49.10
         ...
22044    37.56
653      13.00
509      22.12
4401     21.20
31854    32.09
Name: Hourly Rate, Length: 300, dtype: float64

In [13]:
import scipy.stats as st
st.ttest_1samp(c1,30)

TtestResult(statistic=2.681045469263795, pvalue=0.0077466808084493965, df=299)

**The P Value is less than the significant level 0.05. For this reason we reject the HO hypothesis**

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [15]:
# Your code here


hourly_wages=salaries[salaries['Salary or Hourly']== "Hourly"]['Hourly Rate']
hourly_wages

4        19.86
6        46.10
7        35.60
10        2.65
18       17.68
         ...
33164    46.10
33168    17.68
33169    35.60
33174    46.35
33175    48.85
Name: Hourly Rate, Length: 8022, dtype: float64

In [23]:
hourly_wages_mean=np.mean(hourly_wages)

In [17]:
degrees_of_freedom=len(hourly_wages)-1

In [32]:
mean=hourly_wages.mean()

In [ ]:
from scipy import stats
#sem is the standard error of the mean directly

In [25]:
standard_error_of_the_mean=stats.sem(hourly_wages)

In [27]:
from scipy.stats import sem
se = sem(hourly_wages)          # call it

In [34]:
confidence_interval = stats.t.interval(
    0.95,      # confidence level
    degrees_of_freedom,        # degrees of freedom
    loc=hourly_wages_mean, 
    scale=standard_error_of_the_mean
)

print("Mean hourly rate", mean)
print(f"95% Confidence Interval: {confidence_interval}")

Mean hourly rate 32.78855771628024
95% Confidence Interval: (32.52345834488425, 33.05365708767623)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [38]:
# Your code here
from statsmodels.stats.proportion import proportions_ztest, proportion_confint

number_of_hourly_worker=salaries[salaries["Salary or Hourly"]=='Hourly']["Name"]
number_of_hourly_worker

4             ABASCAL,  REECE E
6         ABBATACOLA,  ROBERT J
7            ABBATE,  JOSEPH L
10             ABBOTT,  BETTY L
18         ABDULLAH,  LAKENYA N
                  ...
33164          ZUREK,  FRANCIS
33168    ZWARYCZ MANN,  IRENE A
33169        ZWARYCZ,  THOMAS J
33174          ZYGADLO,  JOHN P
33175       ZYGADLO,  MICHAEL J
Name: Name, Length: 8022, dtype: object

In [ ]:
is_hourly = salaries['Salary or Hourly'].eq('Hourly')

In [42]:
# Total number of employees
total_employees = len(salaries)

# Number of hourly workers
hourly_workers = salaries[salaries['Salary or Hourly'] == 'Hourly']
num_hourly = len(hourly_workers)

# Perform the one-sample proportion z-test
stat, p_value = proportions_ztest(count=num_hourly, nobs=total_employees, value=0.25)

# Print results
print("Z-statistic:", stat)
print("P-value:", p_value)

# Interpretation
alpha = 0.05
if p_value < alpha:
    print("Reject Hâ‚€: the proportion of hourly workers is significantly different from 25%.")
else:
    print("Fail to reject Hâ‚€: no significant evidence that the proportion differs from 25%.")

Z-statistic: -3.5099964213703005
P-value: 0.00044811272490579676
Reject Hâ‚€: the proportion of hourly workers is significantly different from 25%.

In [41]:
from statsmodels.stats.proportion import proportions_ztest, proportion_confint

# Boolean mask: True for hourly rows
is_hourly = salaries['Salary or Hourly'].eq('Hourly')

# Counts for the test
count = is_hourly.sum()                 # number of hourly workers
nobs  = is_hourly.notna().sum()         # total valid rows (or simply len(salaries))

# One-sample proportion z-test: H0: p = 0.25 vs. H1: p â‰  0.25
zstat, pval = proportions_ztest(count=count, nobs=nobs, value=0.25, alternative='two-sided')
print(f"z = {zstat:.3f}, p-value = {pval:.4f}")

# 95% confidence interval for the true proportion (Wilson is robust)
p_hat = count / nobs
ci_low, ci_high = proportion_confint(count, nobs, alpha=0.05, method='wilson')
print(f"Sample proportion pÌ‚ = {p_hat:.4f}")
print(f"95% CI (Wilson): ({ci_low:.4f}, {ci_high:.4f})")

# Decision at Î± = 0.05
alpha = 0.05
print("Reject H0" if pval < alpha else "Fail to reject H0")

z = -3.510, p-value = 0.0004
Sample proportion pÌ‚ = 0.2418
95% CI (Wilson): (0.2372, 0.2464)
Reject H0